 #sec-favorities-list{ /*para que la seccion principal este en 2 columnas*/
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    width:100%;
    gap: 100px;
    /*quedan mas juntos*/
    padding-left: 50px;
    padding-right: 50px;
 }

 /*no pude alinear las imagenes*/
 .contenedorPeliculasFavoritas img{ /*para el diseño de las imagenes*/
    border-radius: 15px; /*redondeo*/ 
    margin-bottom: 10px; /*margen inferior*/
    width: 300px;   
    height: 430px;
 }
 .contenedorPeliculasFavoritas{ /*para que los elementos grid los pueda ajustar*/
   display: grid;
   align-items: center;
   font-size: small;
   color: var(--color-active);
 }
 .contenedorPeliculasFavoritas h3,img{ /*para centrar titulo e img*/
   align-self: center;
   justify-self: center;  
 }
