 #sec-favorities-list{ /*para que la seccion principal este en 2 columnas*/
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    width:100%;
    gap: 100px;  
 }
 .contenedorPeliculasFavoritas img{ /*para el diseño de las imagenes*/
    border-radius: 15px; /*redondeo*/ 
    margin-bottom: 10px; /*margen inferior*/
    width: 50%; /*acupa 50%*/  
    height: 350px;
 }
 .contenedorPeliculasFavoritas{ /*para que los elementos grid los pueda ajustar*/
   display: grid;
   align-items: center;
   font-size: small;
   color: var(--color-active);
 }
 .contenedorPeliculasFavoritas h3,img{ /*para centrar titulo e img*/
   align-self: center;
   justify-self: center;  
 }
 main h2{
  text-shadow: 2px 2px 3px rgb(58, 55, 55); /*sombra al texto*/
 }