 #limpiar, #enviar{
   cursor: auto; /*forma puntero*/
   border: 2px;
   text-align:center;
   height: 30px ;
   width: 80px ;          
   background-color: var( --color-active); 
   color: #f7f9f9;
   border-radius:5px ;
   font-family: 'Montserrat' ,sans-serif ;
   font-weight:20px;
   transition: .3s ease all; 
 }


 #limpiar:hover{
   background-color: var(--color-back-active);
   cursor: pointer;
 }

 #enviar:hover{
   background-color: var(--color-back-active);
   cursor: pointer;
}
main p{  /*en el medio*/
   padding-left: 100px;
   padding-right: 100px;
}
