@import url('https://fonts.googleapis.com/css?family=Montserrat');

  *{
    font-family:'Montserrat' ,sans-serif; /*2- la fuente no anda solo en el main*/
  }

  body{
    background-color: #e0e0e0; /*3-fondo gris*/
    color: #1d1d1d; /*3-color letras por defecto*/
  }

  #sec_peliculas{ /*grid para las peliculas 4. El contenedor de películas es del tipo grid, 4 columnas con 1fr como tamaño, y
      ocupa el 100% de la pantalla hasta un máximo de 1000px. Alineado al centro.*/
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    grid-gap: 40px;
  }
    
  .contenedorPeliculas img{ /*7-posters*/
    border-radius: 15px; /*redondeo*/ 
    margin-bottom: 10px; /*margen inferior*/
    width: 100%; /*acupa 100%*/
    height: 350px;
  }
  .contenedorPeliculas p{ /*5-tamaño y fuente*/
    font-size: 12px; /*tamaño de los parrafos*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*fuente?*/
  }
  .contenedorPeliculas h3
  {
    font-size: 16px; /*6-tamaño titulos*/
    font-weight: 600px; /*6-ancho titulos*/
  }

  /*MENSAJES*/
  .success{ 
    background-color: #28a745 ;
    border-radius: 20px;
    color: var(--color-texto-blanco);
  }
  .warning{
    background-color: #ffc107;
    border-radius: 20px;
    color: var(--color-texto-blanco);
  }
  .error{
    background-color: #dc3545;
    border-radius: 20px;
    color: var(--color-texto-blanco);
   }


   
.paginacion {
  position:static ;
  bottom: auto ;
  width: 400px; ;
  display: flex ;
  justify-content:center ; /*centrados*/
  gap: 20px; /*separacion*/
  padding:10px ;
}

.paginacion button {
  cursor: pointer;
  border: 2px ;
  display: flex ;
  align-items:center ;
  justify-content:center ;
  text-align:center ;
  height:50px ;
  width:300px ;
  background-color: #220736;  /*no se si habia variable del color*/
  color: var(--color-texto-blanco);
  border-radius: 30px ;
  font-family: 'Montserrat' ,sans-serif ; 
  font-weight:10px;
  transition: .3s ease all;
}

.paginacion button:hover {
  background-color: var(--color-back-active);
}

/*Estilos Generales Botones Favoritos*/

.favoritos { /*no se si esta bien llamarlo por la clase o si tiene que ser un button*/
  background: #7f8c8d;
  color:var(--color-texto-blanco); /*variable del common*/
  display:flex;
  font-size:15px;
  margin:20px;
  padding: 10px 0;
  text-align:center;
  width: 200px;
  text-decoration: none;
  box-shadow: 0px 3px 0px #373c3c;
  border-radius: 20px; /*para redondear bordes*/
  justify-content: center; /*para dejar el texto en el medio*/
}

.favoritos span {
  margin-right: 10px;
}

.favoritos.medium {
  width: 150px;
}

.favoritos.radius {
  border-radius: 50px;
}

.favoritos:hover {
  box-shadow: 0px 0px 0px;
}

main p{
  text-align: center; /*texto de agregar peli*/
}

